/* MOBILE */
@media (min-width: 320px) and (max-width: 767px) {

    header{
        height: 10vh;
        background-color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #b9005f
    }

    header a{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main{
        background-color: white;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "title"
        "button1"
        "button2"
        "button3"
        "button4";
        height: 90vh;
        justify-items: center;
    }

    main .titleText h1{
        font-weight: 500;
        font-size: 130%; 
        color: #B9005F;
        line-height: 2;
    }

    main .titleText h2{
        font-weight: 500;
        font-size: 100%;
        color: #B9005F;
    }

    main a{
        text-decoration: none;
    }

    .card{
        background-color: #B9005F;
        width: 14em;
        height: 6em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.3em;
        box-shadow: 0px 4px 13px -7px #000000, 0px 0px 3px 2px rgba(0,0,0,0);
    }
}